<div class="card animate__animated animate__fadeIn mt-5">
    <div class="card-content">
        <p class="title">Usuarios</p>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>AnyDesk</th>
                    <th>Role</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Andres</td>
                    <td>Calcurian</td>
                    <td>calcurianandres@gmail.com</td>
                    <td>123456987</td>
                    <td>ADMIN_ROLE</td>
                    <td>
                        <div class="icon-text">
                            <a>
                                <span class="icon has-text-success">
                                  <i class="fas fa-edit"></i>
                                </span>
                            </a>
                             
                            <a>
                                <span class="icon has-text-danger">
                                    <i class="fas fa-user-minus"></i>
                                </span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="pagination is-small" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
        </nav>
    </div>
</div>