<div class="card anumate__animated animate__fadeIn mt-5">
    <div class="card-content">

    </div>
</div>

<div class="card animate__animated animate__fadeIn mt-5">
    <div class="card-content">
        <p class="title">Usuarios ({{total}})</p>
        <div *ngIf="cargando">
            Cargando...
            <progress class="progress is-small is-primary" max="100">15%</progress>
            Espere por favor.
        </div>
        <table class=" table is-narrow is-fullwidth table is-striped" *ngIf="!cargando">
            <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>AnyDesk</th>
                    <th>Role</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>
                        <figure class="image is-32x32">
                            <img class="is-rounded" [src]='usuario.profilePic()'>
                        </figure>
                    </td>
                    <td>{{usuario.Nombre}}</td>
                    <td>{{usuario.Apellido}}</td>
                    <td>{{usuario.Correo}}</td>
                    <td>{{usuario.AnyDesk}}</td>
                    <td>
                        <select [(ngModel)]="usuario.Role"
                                (change)="cambiarRole(usuario)">
                            <option value="ADMIN_ROLE">Admin</option>
                            <option value="USER_ROLE">Usuario</option>
                        </select>
                    </td>
                    <td>
                        <div class="icon-text">                             
                            <a (click)='borrarUsuario(usuario._id)'>
                                <span class="icon has-text-danger">
                                    <i class="fas fa-user-minus"></i>
                                </span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <nav class="pagination is-small" role="navigation" aria-label="pagination">
                <a class="pagination-previous" (click)="previous()">Anterior</a>
                <a class="pagination-next" (click)="next()">Siguiente</a>
            </nav>
        </table>
    </div>
</div>