<div class="card animate__animated animate__fadeIn mt-5">
    <div class="card-content">
        <p class="title">Usuarios</p>
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>AnyDesk</th>
                    <th>Role</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>Andrés Calcurian</td>
                    <td>calcurianandres@gmail.com</td>
                    <td>123654789</td>
                    <td>ADMIN_USER</td>
                    <td>
                        <button class="button is-success">
                            <span class="icon is-small">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Editar</span>
                        </button>
                         
                        <button class="button is-danger">
                            <span class="icon is-small">
                                <i class="fas fa-user-minus"></i>
                            </span>
                            <span>Eliminar</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Andrés Calcurian</td>
                    <td>calcurianandres@gmail.com</td>
                    <td>123654789</td>
                    <td>ADMIN_USER</td>
                    <td>
                        <button class="button is-success">
                            <span class="icon is-small">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Editar</span>
                        </button>
                         
                        <button class="button is-danger">
                            <span class="icon is-small">
                                <i class="fas fa-user-minus"></i>
                            </span>
                            <span>Eliminar</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Andrés Calcurian</td>
                    <td>calcurianandres@gmail.com</td>
                    <td>123654789</td>
                    <td>ADMIN_USER</td>
                    <td>
                        <button class="button is-success">
                            <span class="icon is-small">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Editar</span>
                        </button>
                         
                        <button class="button is-danger">
                            <span class="icon is-small">
                                <i class="fas fa-user-minus"></i>
                            </span>
                            <span>Eliminar</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Andrés Calcurian</td>
                    <td>calcurianandres@gmail.com</td>
                    <td>123654789</td>
                    <td>ADMIN_USER</td>
                    <td>
                        <button class="button is-success">
                            <span class="icon is-small">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Editar</span>
                        </button>
                         
                        <button class="button is-danger">
                            <span class="icon is-small">
                                <i class="fas fa-user-minus"></i>
                            </span>
                            <span>Eliminar</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Andrés Calcurian</td>
                    <td>calcurianandres@gmail.com</td>
                    <td>123654789</td>
                    <td>ADMIN_USER</td>
                    <td>
                        <button class="button is-success">
                            <span class="icon is-small">
                                <i class="fas fa-edit"></i>
                            </span>
                            <span>Editar</span>
                        </button>
                         
                        <button class="button is-danger">
                            <span class="icon is-small">
                                <i class="fas fa-user-minus"></i>
                            </span>
                            <span>Eliminar</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="pagination is-small" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
        </nav>
    </div>
</div>