<div class="level" *ngIf="cargando">
  <div class="level-item has-text-centered">
      <div>
          <p class="heading">Cargando...</p>
          <p class="title"><i class="fas fa-circle-notch fa-pulse"></i></p>
          <p class="tittle">Por favor espere.</p>
      </div>
  </div>
</div>
<div class="columns animate__animated animate__fadeIn mt-5" *ngIf="!cargando">
    <div class="column is-two-thirds">
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img [src]='ticket.perfilDueno()' alt="Profile Pic">
                </p>
            </figure> 
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ticket.titulo}}</strong><br>
                        {{ticket.descripcion}}<br>
                        <!-- 13/01/2021 - 12:49 -->
                        <small>{{ticket.fecha | date:'dd/MM/yyyy - h:mm a'}}</small>
                    </p>
                </div>
              
              <div *ngFor="let comentario of ticket.comentarios">
                <article class="media" *ngFor='let mensaje of comentario.comentarios'>
                  <figure class="media-left">
                    <p class="image is-48x48">
                        <img src="http://localhost:3000/api/imagen/usuarios/{{mensaje.usuario.img}}" 
                        alt="Profile Pic" *ngIf="mensaje.usuario.img">
                        <img src="http://localhost:3000/api/imagen/usuarios/no-image" 
                        alt="Profile Pic" *ngIf="!mensaje.usuario.img">
                    </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>{{mensaje.usuario.Nombre}} {{mensaje.usuario.Apellido}}</strong><br>
                        {{mensaje.mensaje}}<br>
                        <small>{{mensaje.fecha | date: 'dd/MM/yyyy - h:mm a'}}</small> 
                      </p>
                    </div>
                  </div>
                </article>
              </div>
        </div>
      </article><br>
      <form
        autocomplete="off"
        [formGroup]="newComment"
        (ngSubmit)="comentar()">
        <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img [src]="usuario.profilePic()">
              </p>
            </figure>
              <div class="media-content">
                <div class="field">
                  <p class="control">
                    <textarea class="textarea" placeholder="Agregar un commentario..." formControlName='mensaje'></textarea>
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <button class="button"
                    [ngClass]="{'is-loading':enviando}"
                    >Comentar</button>
                  </p>
                </div>
              </div>
            </article>
          </form>
    </div>
    <div class="column">
        <article class="message">
            <div class="message-body">
                <strong>Abierto por: </strong>{{ticket.usuario[0].Nombre}} {{ticket.usuario[0].Apellido}} <br>
                <strong>AnyDesk: </strong> {{ticket.usuario[0].AnyDesk}} <br>
                <strong>Para: </strong> 
                <select>
                  <option value="">Sop. Técnico</option>
                  <option value="">Profit</option>
                </select> <br>
                <strong>de:</strong> 
                <hr>
                <strong>Status: </strong> 
                <select>
                  <option value="ABIERTO">Abierto</option>
                  <option value="EJECUTANDOSE">En ejecución</option>
                  <option value="CERRADO">Cerrado</option>
                </select>
                <br>
                <a href="" class="button mt-5 is-fullwidth is-primary">Actualizar Ticket</a>
            </div>
        </article>
    </div>
</div>