<div class="columns animate__animated animate__fadeIn mt-5">
    <div class="column is-two-thirds">
        <article class="media">
            <figure class="media-left">
                <p class="image is-64x64">
                    <img src="../../../assets/images/profile.jpg" alt="Profile Pic">
                </p>
            </figure>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>Asunto</strong><br>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                        officia deserunt mollit anim id est laborum."<br>
                        <small>13/01/2021 - 12:49</small>
                    </p>
                </div>
                <!-- <article class="media">
                    <figure class="media-left">
                        <p class="image is-48x48">
                            <img src="../../../assets/images/profile.jpg" alt="Profile Pic">
                        </p>
                    </figure>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Andrés Calcurian</strong><br>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
                                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
                                officia deserunt mollit anim id est laborum."<br>
                                <small>13/01/2021 12:49</small>
                            </p>
                            <article class="media">
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                                aliquip ex ea commodo consequat."
                            </article>
                        </div>
                    </div>
                </article>
                <article class="media">
                    <div class="media-left">
                        <p class="image is-48x48">
                            <img src="../../../assets/images/profile.jpg" alt="Profile Pic">
                        </p>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Andrés Calcurian</strong><br>
                                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                                aliquip ex ea commodo consequat."
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </article> -->
        </div>
      </article>
        <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="../../../assets/images/profile.jpg">
              </p>
            </figure>
            <div class="media-content">
              <div class="field">
                <p class="control">
                  <textarea class="textarea" placeholder="Agregar un commentario..."></textarea>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <button class="button">Comentar</button>
                </p>
              </div>
            </div>
          </article>
    </div>
    <div class="column">
        <article class="message">
            <div class="message-body">
                <strong>Ticket Id: </strong>123456 <br>
                <strong>Abierto por: </strong>Andrés Calcurian <br>
                <strong>AnyDesk: </strong>123654789 <br>
                <hr>
                <strong>Status: </strong> 
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Cambiar Status</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                      <div class="dropdown-content">
                        <a href="#" class="dropdown-item">
                          Abierto
                        </a>
                        <a href="#" class="dropdown-item">
                          En proceso    
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                          Cerrar ticket
                        </a>
                      </div>
                    </div>
                </div><br>
                <a href="" class="button mt-5 is-fullwidth is-primary">Cambiar Status</a>
            </div>
        </article>
    </div>
</div>