<div class="columns">
  <div class="column centrado">
    <div class="card animate__animated animate__fadeIn mt-5">
        <div class="card-content">
            <figure class="image is-square">
              <img [src]="usuario.profilePic()" alt="Andrés Calcurian">
            </figure>
            <br>
            <hr>
            <p class="title">
                {{usuario.Nombre}} {{usuario.Apellido}}
            </p>
            <p class="subtitle">
                {{usuario.Correo}}
            </p>
        </div>
    </div>
</div>

    <div class="column">
         <div class="card animate__animated animate__fadeIn mt-5">
             <div class="card-content">
            <p class="title">
                Cambiar contraseña
            </p>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label centrado">Contraseña actual</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control">
                      <input class="input" type="password" placeholder="Contraseña actual">
                    </p>
                  </div>
                </div>
              </div>
                <hr>
                  <div class="field">
                    <div class="field-label is-normal">
                        <label class="label centrado">Nueva Contraseña</label>
                    </div>
                    <div class="control">
                      <input class="input" type="password" placeholder="Nueva contraseña">
                    </div>
                  </div>
                  <div class="field">
                    <div class="field-label is-normal">
                        <label class="label centrado">Repetir Contraseña</label>
                    </div>
                    <div class="control">
                      <input class="input" type="password" placeholder="Repetir nueva contraseña">
                    </div>
                  </div>
                <hr>
                <button class="button is-primary centrado">Cambiar contraseña</button>
             </div>
         </div>
    </div>
</div>