<div class="card animate__animated animate__fadeIn">
  <div class="card-content">
    <div class="banner">
      <img src="../../../assets/images/Purissima_Logo.png" alt="Purissima">
    </div>
    <div class="level">
      <p class="level-item has-text-centered">
        <figure class="image is-128x128">
          <img [src]="usuario.profilePic()" class="is-rounded"  alt="{{usuario.Nombre}}">
          <strong>
            {{usuario.Nombre}} {{usuario.Apellido}}
          </strong>
        </figure>
      </p>
    </div>
    <div class="level">
      <div class="level-item has-text-centered">
        <p class="subtitle is-4">
          <strong>AnyDesk:</strong> <br>
          {{usuario.AnyDesk}}
        </p>
      </div>
      <div class="level-item has-text-centered">
        <p class="subtitle is-4">
          <strong>Correo:</strong> <br>
          {{usuario.Correo}}
        </p>
      </div>
    </div>
  </div>
</div>