<div class="card animate__animated animate__fadeIn">
  <div class="card-content">
    <div class="banner">
      <img src="../../../assets/images/Purissima_Logo.png" alt="Purissima">
    </div>
    <div class="level">
      <p class="level-item has-text-centered">
        <figure class="image is-128x128">
          <img [src]="usuario.profilePic()" class="is-rounded"  alt="{{usuario.Nombre}}">
          <strong>
            <p class="subtitle is-6">
              {{usuario.Nombre}} {{usuario.Apellido}}
            </p>
          </strong>
        </figure>
      </p>
    </div>
    <div class="level">
      <div class="level-item has-text-centered">
        <p class="subtitle is-4">
          <strong>AnyDesk:</strong> <br>
          {{usuario.AnyDesk}}
        </p>
      </div>
      <div class="level-item has-text-centered">
        <p class="subtitle is-4">
          <strong>Correo:</strong> <br>
          {{usuario.Correo}}
        </p>
      </div>
    </div>

    <p class="subtitle is-4">
      Cambiar imagen de perfil
    </p>
    <div class="columns">
      <div class="column is-one-quarter">
        <div class="field">
          <div class="file is-info has-name">
            <label class="file-label">
              <input class="file-input" 
                      type="file" 
                      name="resume"
                      (change)="CambiarImagen($event)">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Imagen
                </span>
              </span>
              <span class="file-name" id='fileName'>
                Sin archivo...
              </span>
            </label>
          </div>
        </div>
      </div>
      <div class="column">
        <button class="button is-primary"
        (click)='subirImagen()'
        [ngClass]="{'is-loading':cargando}"
        [disabled]="!ImgSubir"
        >
        Cambiar imagen</button>
      </div>
    </div>
  </div>
</div>