<div class="card mt-5 animate__animated animate__fadeIn">
    <div class="card-content">
        <p class="title">{{Bandeja}}</p>
        <div class="columns">
            <div class="column">
                <div class="tarj abiertos">
                    <p class="title">35</p>
                    Total tickets
                </div>
            </div>
            <div class="column">
                <div class="tarj pendientes">
                    <p class="title">0</p>
                    Ejecutandose</div>
            </div>
            <div class="column">
                <div class="tarj Ejecutandose">
                    <p class="title">5</p>
                    abiertos</div>
            </div>
            <div class="column">
                <div class="tarj Cerrados">
                    <p class="title">30</p>
                    cerrados</div>
            </div>
        </div>
        <div class="table-container">
            <table class="table" width='100%'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Abierto por:</th>
                        <th>AnyDesk</th>
                        <th>Asunto</th>
                        <th>Status</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>Andrés Calcurian</td>
                        <td>12345679</td>
                        <td>Esto es un asunto de prueba</td>
                        <td><span class="tag is-success is-light">Abierto</span></td>
                        <td>26/12/2020</td>
                    </tr>
                    <tr>
                        <td>02</td>
                        <td>Andrés Calcurian</td>
                        <td>12345679</td>
                        <td>Esto es un asunto de prueba</td>
                        <td><span class="tag is-info is-light">Ejecutandose</span></td>
                        <td>26/12/2020</td>
                    </tr>
                    <tr>
                        <td>03</td>
                        <td>Andrés Calcurian</td>
                        <td>12345679</td>
                        <td>Esto es un asunto de prueba</td>
                        <td><span class="tag is-success is-light">Abierto</span></td>
                        <td>26/12/2020</td>
                    </tr>
                    <tr>
                        <td>04</td>
                        <td>Andrés Calcurian</td>
                        <td>12345679</td>
                        <td>Esto es un asunto de prueba</td>
                        <td><span class="tag is-info is-light">Ejecutandose</span></td>
                        <td>26/12/2020</td>
                    </tr>
                    <tr>
                        <td>05</td>
                        <td>Andrés Calcurian</td>
                        <td>12345679</td>
                        <td>Esto es un asunto de prueba</td>
                        <td><span class="tag is-success is-light">Abierto</span></td>
                        <td>26/12/2020</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class="pagination is-small" role="navigation" aria-label="pagination">
            <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next page</a>
        </nav>
    </div>
</div>
