<div class="card mt-5 animate__animated animate__fadeIn">
    <div class="card-content">
        <p class="title">{{Bandeja}}</p>
        <div class="columns">
            <div class="column">
                <div class="tarj abiertos">
                    <p class="title">{{total}}</p>
                    Total tickets
                </div>
            </div>
            <div class="column">
                <div class="tarj pendientes">
                    <p class="title">0</p>
                    Ejecutandose</div>
            </div>
            <div class="column">
                <div class="tarj Ejecutandose">
                    <p class="title">5</p>
                    abiertos</div>
            </div>
            <div class="column">
                <div class="tarj Cerrados">
                    <p class="title">30</p>
                    cerrados</div>
            </div>
        </div>
        <div class="table-container">
            <table class="table" width='100%'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Abierto por:</th>
                        <th>AnyDesk</th>
                        <th>Asunto</th>
                        <th>Status</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of tickets; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{ticket.usuario[0].Nombre}} {{ticket.usuario[0].Apellido}}</td> 
                        <td>{{ticket.usuario[0].AnyDesk}}</td>
                        <td>{{ticket.titulo}}</td>
                        <td><span class="tag is-success is-light">{{ticket.estado}}</span></td>
                        <td>26/12/2020</td> 
                    </tr>
                </tbody>
            </table>
        </div>
        <nav class="pagination is-small" role="navigation" aria-label="pagination">
            <a class="pagination-previous" (click)="previous()">Previous</a>
            <a class="pagination-next" (click)="next()">Next page</a>
        </nav>
    </div>
</div>
